/DigitsInNumber.class
/DrawHouse.class
/DrawHouseOfUsher.class
/DrawStopLight.class
/DrawTrain.class
/FibbonaciCh5.class
/Power.class
/PrimeNumbers.class
/Quadratic.class
/TargetSymbolCh5.class
/YesNoExample.class
