/Acronym.class
/Add2StringIntegers.class
/AddCommas.class
/CaesarCipher.class
/CapitalizeFirstLetter.class
/Consonant.class
/DNA.class
/DateAsString.class
/LongestWord.class
/NumberToWords.class
/Obenglobish.class
/OrdinalNumbering.class
/Palindrome.class
/PalindromeSentence.class
/PigLatinCapital.class
/PigLatinChar.class
/Plural.class
/PresentParticiple.class
/RandomWord.class
/ScrabblePoints.class
/StringTokenizer.class
/TestMyClassTokens.class
