/Calendar.class
/ColoredLabels.class
/ColoredSquare.class
/FavouritePicture.class
/GDiamond.class
/GTShape.class
/GTrapezoid.class
/GTriangle.class
/HalloweenPumpkin.class
/HartShaped.class
/HartShepedPoly.class
/ILoveJavaBlock.class
/LogCabinBlock.class
/NestedSquareBlock.class
/PacMan.class
/PascalTriangle.class
/PatchworkQuilt.class
/PumpkinPie.class
/QuiltBlock.class
/ShapeTest.class
/SlotMachineGraphic.class
